@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap");

*,
*::after,
*::before,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #171b2f;
  color: white;
}
nav {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-content: center;
  margin: 14px auto;
}
nav p {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add_content {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.06)
  );
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  border-radius: 10px !important;
  z-index: 2;
  backdrop-filter: blur(20px);
  padding: 60px;
  padding-bottom: 70px;
  padding-left: 80px;
  padding-right: 80px;
}

.input {
  font-weight: 400;
  outline: none !important;
  border-radius: 8px !important;
  height: 100%;
  width: 100%;
  color: #f9f9f9;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;

  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.06)
  );
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-radius: 10px !important;
  z-index: 4;
  backdrop-filter: blur(40px);
}

.input:focus {
  font-weight: 400;
  outline: none !important;
  border-radius: 8px !important;
  box-shadow: none;
  height: 100%;
  width: 100%;
  color: #f9f9f9;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;

  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.06)
  );
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-radius: 10px !important;
  z-index: 4;
  backdrop-filter: blur(40px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c3c5de !important;

  font-weight: 300 !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #c3c5de !important;

  font-weight: 300 !important;
}

.button {
  border-radius: 6px;
  background: linear-gradient(
    110deg,
    rgba(187, 20, 226),
    rgba(187, 20, 226),
    rgba(21, 32, 227)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: none;
  border: none;
  width: 100%;
  color: #f9f9f9;
  box-shadow: none !important;

  font-weight: 500;
  letter-spacing: 2px;
  z-index: 3;
}

.button:hover {
  color: #f9f9f9;
}

.name {
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.phone {
  font-weight: 400;
  font-size: 16px;
  color: #f9f9f9;
  text-transform: capitalize;
  letter-spacing: 1px;

  margin-top: 5px;
}

.mail {
  font-weight: 400;
  font-size: 14px;
  color: #f9f9f9;
  letter-spacing: 1px;
}

.location {
  font-weight: 400;
  font-size: 14px;
  color: #f9f9f9;
  letter-spacing: 1px;
}

.contact_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.06)
  );
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  border-radius: 10px;
  /* z-index: 2; */
  backdrop-filter: blur(20px);
  padding: 30px;
  padding-left: 40px;
  padding-right: 60px;
}
.contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.contact_op {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.cirlce1 {
  height: 20rem;
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 73%;
}

.cirlce2 {
  height: 20rem;
  width: 20rem;
  position: absolute;
  top: 20%;
  left: 12%;
}
.profile {
  border-radius: 50%;
  border-color: none;
  width: 110px;
  height: 110px;
  background: transparent;
  background-color: transparent;
  object-fit: cover;
}

.hidden {
  display: none;
}
